  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  
  main {
      flex: 1 0 auto;
  }
  .mgan{margin:0px !important;;}

  
.bodb{border-bottom: 1px solid #ddd;}
.bodt{border-top: 1px solid #ddd;}
hr {
    border-top: solid 1px #ddd !important;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.input-field label {
    font-size: 13px !important;
}
label {
    font-size: 13px !important;
}
.ft11 {
    font-size: 11px !important;
}
.pda20{padding: 20px!important;}
.pdb10{padding-bottom: 10px !important;}
.pdt10{padding-top: 10px !important;;}
.pdl10{padding-left: 10px !important;;}
.pdr10{padding-right: 10px !important;;}
.pda10{padding: 10px !important;;}
.mgtn{margin-top: 0 !important;;}
.b{font-weight: 700;}
.team_card .card .card-title, .leads_card .card .card-title {font-size: 20px !important; font-weight: 400;}

.ft15{font-size: 15px !important}
.mgbn{margin-bottom: 0px !important;}
.mgln{margin-left: 0px !important;}
.mgrn{margin-right: 0px !important;}
.mgt20{margin-top: 20px !important;}
.mgb10{margin-bottom: 10px !important;}
.logo{width: 30px; margin: 15px;}
.sld_logo img{ width: 100px; margin-top: 20px; }
.sld_logo:hover{background-color: transparent !important;}
.trans_fm{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9; width: 340px;}
.sld_ft{position: absolute; bottom:60px; left:0; width: 100%;}
.popwdh{width: 400px; max-width: 400px}
.ftw100 {
    font-weight: 300;
}
.btn, .btn:hover, .btn:focus {
    box-shadow: none;
}
.wd100{width: 100%;}
.btn {
    padding: 0 15px;
}

.relative {
    position: relative;
}

.block{display: block;}
.mgt30{margin-top: 30px;}

.ft18 {
    font-size: 18px !important;
}

.pdln {
    padding-left: 0px !important;
}
.ft13{font-size: 13px !important;}
.loca_link{color: #333;}


.search-results{position: absolute; top: 45px; width: 96%; left: 10px; z-index: 9; border:1px solid #ddd; 
    max-height: 250px !important;
    overflow-y: auto;}
.proul ul li{ line-height: 30px; height: 30px; font-size: 13px; padding: 0 10px; overflow:hidden;}
.proul ul li:nth-child(2n){background-color: #fafafa;}
.proul ul li:hover{background-color: #eee; cursor: pointer;}
.cirspn span{border: 2px solid #ddd; border-radius: 50%; display: inline-block; width: 50px; line-height: 46px; height: 50px;}
.hdagnicon{position: relative; padding-left: 40px !important; margin-right: 30px !important;}
.hdagnicon i{line-height: 20px; height: 20px; position: absolute; top: -20px !important; left:0;}
.gall_btn{display: inline-block; margin-top: 20px;}
.gall_btn:hover{color: #444!important;}
.ftcard a{height:55px;}
#viewdtails, #customer_dtails, .gal_dtl{display: none;position: fixed; z-index: 1040; height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.7);}
.mns3{margin-top: -3px !important;}
.bdalight {
    border: 1px solid #f5f5f5 !important;
}
.btnflat, .btnflat:hover, .btnflat:focus{background-color: #fafafa; border: 0;}

.sdb{box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);}

.ondt p{padding-left: 40px;}
.ht30{height: 35px; line-height: 20px;}
.autoscroll{height:75vh; overflow-y: auto;}
.wdbuy{width: 40% !important;}
.bdrf, .bdrf:hover{border-right:1px solid #ddd !important;}

.circle_profile {
    width: 100px;
    height: 100px;
    border-radius: 50%; overflow:hidden;
    margin-right: 30px;
    
}
.circle_subuser {
    width: 90px;
    height: 90px;
    border-radius: 50%; overflow:hidden;
    margin-right: 30px;
    
}

.addremove{color: #00bfa5;}
.addremove:hover, .addremove:focus{color: #ff5252;}

.fixprologo{width: 100px;}


 @media screen and (min-width: 0px) and (max-width: 600px){
.logo{margin: 10px;}
.trans_fm{width: 96%;}
.btn{padding-left: 20px !important; padding-right: 20px  !important;}
.logo{margin-left: 0px;}
.xsmgt5{margin-top: 5px;}
.btnhd_prof ul li a:hover, .btnhd:hover{border-bottom: none !important;}
.xs-center{text-align: center !important}
.wdbuy{width: 95% !important;}
.hdagnicon{ margin-right: 0px !important; }
.ht30{height: auto;}

  }
 @media screen and (min-width: 0px) and (max-width: 1079px){
  .container {
    max-width: 90% !important;
    width: 90% !important;
   
}
}
