<div>
 <div class="side-nav hide-on-large-only" id="slide-out1">
        <form>
            <div class="row filter-heading">
                <div class="col s12">
                    <span> Filters </span>
                </div>
            </div>
            <hr>
            <div class="row mgbn">
                <div class="col s12">
                    <h3 class="ft14 b">Rent</h3>
                </div>
                <div class="col s12">
                    <div id="price"></div>
                </div>
                <div class="col s6">
                    <input id="minP" placeholder="₹ Min" type="number" ng-change="minChange()" ng-model="data.rmin" />
                </div>
                <div class="col s6">
                    <input id="maxP" placeholder="₹ Max" type="number" ng-change="maxChange()" ng-model="data.rmax" />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3 class="ft14 b">Project Categories</h3>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" id="best" class="filled-in" />
                    <label class="ft11" for="best">Best Amenities</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" id="Luxury" class="filled-in" />
                    <label class="ft11" for="Luxury">Luxury</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" id="Affordable" class="filled-in" />
                    <label class="ft11" for="Affordable">Affordable</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" id="Ultra" class="filled-in" />
                    <label class="ft11" for="Ultra">Ultra Luxury</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" id="Pet" class="filled-in" />
                    <label class="ft11" for="Pet">Pet Friendly</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" id="Downtown" class="filled-in" />
                    <label class="ft11" for="Downtown">Downtown</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" id="Bachelors" class="filled-in" />
                    <label class="ft11" for="Bachelors">Bachelors</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" id="Senior" class="filled-in" />
                    <label class="ft11" for="Senior">Senior Living</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3 class="ft14 b">Bedroom</h3>
                </div>
                <div class="col s6 mgt5">
                    <input type="checkbox" class="filled-in" id="bhk1" />
                    <label class="ft11" for="bhk1">1 BHK</label>
                </div>
                <div class="col s6 mgt5">
                    <input type="checkbox" class="filled-in" id="bhk2" />
                    <label class="ft11" for="bhk2">2 BHK</label>
                </div>
                <div class="col s6 mgt5">
                    <input type="checkbox" class="filled-in" id="bhk3" />
                    <label class="ft11" for="bhk3">3 BHK</label>
                </div>
                <div class="col s6 mgt5">
                    <input type="checkbox" class="filled-in" id="bhk4" />
                    <label class="ft11" for="bhk4">4 BHK</label>
                </div>
                <div class="col s6 mgt5">
                    <input type="checkbox" class="filled-in" id="bhk5" />
                    <label class="ft11" for="bhk5">5 BHK</label>
                </div>
                <div class="col s6 mgt5">
                    <input type="checkbox" class="filled-in" id="bhk5p" />
                    <label class="ft11" for="bhk5p">5+ BHK</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3 class="ft14 b">Property Types</h3>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" class="filled-in" id="Apartments" />
                    <label class="ft11" for="Apartments">Apartments</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" class="filled-in" id="Villas" />
                    <label class="ft11" for="Villas">Villas</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" class="filled-in" id="Penthouse" />
                    <label class="ft11" for="Penthouse">Penthouse</label>
                </div>
                <div class="col s12 mgt5">
                    <input type="checkbox" class="filled-in" id="Rowhouse" />
                    <label class="ft11" for="Rowhouse">Rowhouse</label>
                </div>
            </div>          
        </form>
    </div>
    <section class="mgt65 grey lighten-5">
        <div>
            <div class="row mgt45">
                <section>
                    <div class="row list-heading">
                        <div class="col s12 pdl30 xspdl20">
                            <h5 class="mgbn"> Customer Details  <a href="#" data-activates="slide-out1" class="right flticon button-collapse1 hide-on-large-only"><i class="material-icons">menu</i></a></h5>
                        </div>
                        <div class="row linkroot mgan">
                            <nav class="bgtrans pdl20 xspdl10">
                                <div class="nav-wrapper bgtrans">
                                    <div class="col s12">
                                        <a href="/#/home" class="breadcrumb">Home</a>
                                        <a href="" class="breadcrumb">Owner Details</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="row pdl30 pdr30 xspdln xspdrn">
                        <div id="boxfilterlist" class="col s2 m3 l3 hide-on-med-and-down ">
                            <form>
                                <div class="row filter-heading">
                                    <div class="col s12">
                                        <span> Filters </span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row mgbn">
                                    <div class="col s12">
                                        <h3 class="ft14 b">Rent</h3>
                                    </div>
                                    <div class="col s12">
                                        <div id="price"></div>
                                    </div>
                                    <div class="col s6">
                                        <input id="minP" placeholder="₹ Min" type="number" ng-change="minChange()" ng-model="data.rmin" />
                                    </div>
                                    <div class="col s6">
                                        <input id="maxP" placeholder="₹ Max" type="number" ng-change="maxChange()" ng-model="data.rmax" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h3 class="ft14 b">Project Categories</h3>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" id="best" class="filled-in" />
                                        <label class="ft11" for="best">Best Amenities</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" id="Luxury" class="filled-in" />
                                        <label class="ft11" for="Luxury">Luxury</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" id="Affordable" class="filled-in" />
                                        <label class="ft11" for="Affordable">Affordable</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" id="Ultra" class="filled-in" />
                                        <label class="ft11" for="Ultra">Ultra Luxury</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" id="Pet" class="filled-in" />
                                        <label class="ft11" for="Pet">Pet Friendly</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" id="Downtown" class="filled-in" />
                                        <label class="ft11" for="Downtown">Downtown</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" id="Bachelors" class="filled-in" />
                                        <label class="ft11" for="Bachelors">Bachelors</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" id="Senior" class="filled-in" />
                                        <label class="ft11" for="Senior">Senior Living</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h3 class="ft14 b">Bedroom</h3>
                                    </div>
                                    <div class="col s6 mgt5">
                                        <input type="checkbox" class="filled-in" id="bhk1" />
                                        <label class="ft11" for="bhk1">1 BHK</label>
                                    </div>
                                    <div class="col s6 mgt5">
                                        <input type="checkbox" class="filled-in" id="bhk2" />
                                        <label class="ft11" for="bhk2">2 BHK</label>
                                    </div>
                                    <div class="col s6 mgt5">
                                        <input type="checkbox" class="filled-in" id="bhk3" />
                                        <label class="ft11" for="bhk3">3 BHK</label>
                                    </div>
                                    <div class="col s6 mgt5">
                                        <input type="checkbox" class="filled-in" id="bhk4" />
                                        <label class="ft11" for="bhk4">4 BHK</label>
                                    </div>
                                    <div class="col s6 mgt5">
                                        <input type="checkbox" class="filled-in" id="bhk5" />
                                        <label class="ft11" for="bhk5">5 BHK</label>
                                    </div>
                                    <div class="col s6 mgt5">
                                        <input type="checkbox" class="filled-in" id="bhk5p" />
                                        <label class="ft11" for="bhk5p">5+ BHK</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h3 class="ft14 b">Property Types</h3>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" class="filled-in" id="Apartments" />
                                        <label class="ft11" for="Apartments">Apartments</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" class="filled-in" id="Villas" />
                                        <label class="ft11" for="Villas">Villas</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" class="filled-in" id="Penthouse" />
                                        <label class="ft11" for="Penthouse">Penthouse</label>
                                    </div>
                                    <div class="col s12 mgt5">
                                        <input type="checkbox" class="filled-in" id="Rowhouse" />
                                        <label class="ft11" for="Rowhouse">Rowhouse</label>
                                    </div>
                                </div>                             
                            </form>
                        </div>
                        <div class="col s12 m12 l7 pdr30 xspdr20 projList">
                            <div class="col s12 card pdt10 pdbn pdln pdrn white">
                                <div class="row relative mgb10">
                                    <div class="col s12 m8 xspdl10">
                                        <div class="ft12">16 May 2017</div>
                                        <h2 class="ft18 b mgbn mgt5 truncate"><a href="" class="red-text">Anil Kumar 25,000</a></h2>
                                        <h6 class="mgbn ft13 truncate text-darken-2 mgt5">
                                <a href="" class="grey-text"> Golf Course Road, Sector 42</a></h6>
                                        <div class="mgt5 ft12 b">3BHK ( 2450 sq. ft. )</div>
                                    </div>
                                    <div class="col s12 m4 pdln right-align">
                                        <div class="ft12 mgt5">09xxxxxxxxx</div>
                                        <div class="ft12">xxxxxxxx@gmail.com</div>
                                    </div>
                                </div>
                                <div class="row bodt mgbn center grey lighten-5 ftcard">
                                    <a onclick="$('#customer_dtails') .css ('display','block')" class="col s12 m4 grey-text text-darken-2 b pdt20 listbtn bdrf">
                                    View Details</a>
                                    <button data-target="buypopupExclusive" class="col s12 m4 grey-text text-darken-2 pda10 listbtn btnflat bdrf">
                                        <b> Buy Exclusive</b>
                                        <br> Cost Rs 500</button>
                                    <button data-target="buypopupShared" class="col s12 m4 grey-text text-darken-2 listbtn btnflat  pda10"><b>Buy Shared</b>
                                        <br> <span>Cost Rs 250</span>
                                    </button>
                                </div>
                            </div>
                             <div class="col s12 card pdt10 pdbn pdln pdrn white">
                                <div class="row relative mgb10">
                                    <div class="col s12 m8 xspdl10">
                                        <div class="ft12">16 May 2017</div>
                                        <h2 class="ft18 b mgbn mgt5 truncate"><a href="" class="red-text">Anil Kumar 25,000</a></h2>
                                        <h6 class="mgbn ft13 truncate text-darken-2 mgt5">
                                <a href="" class="grey-text"> Golf Course Road, Sector 42</a></h6>
                                        <div class="mgt5 ft12 b">3BHK ( 2450 sq. ft. )</div>
                                    </div>
                                    <div class="col s12 m4 pdln right-align">
                                        <div class="ft12 mgt5">09xxxxxxxxx</div>
                                        <div class="ft12">xxxxxxxx@gmail.com</div>
                                    </div>
                                </div>
                                <div class="row bodt mgbn center grey lighten-5 ftcard">
                                    <a onclick="$('#customer_dtails') .css ('display','block')" class="col s12 m4 grey-text text-darken-2 b pdt20 listbtn bdrf">
                                    View Details</a>
                                    <button data-target="buypopupExclusive" class="col s12 m4 grey-text text-darken-2 pda10 listbtn btnflat bdrf">
                                        <b> Buy Exclusive</b>
                                        <br> Cost Rs 500</button>
                                    <button data-target="buypopupShared" class="col s12 m4 grey-text text-darken-2 listbtn btnflat  pda10"><b>Buy Shared</b>
                                        <br> <span>Cost Rs 250</span>
                                    </button>
                                </div>
                            </div>
                             <div class="col s12 card pdt10 pdbn pdln pdrn white">
                                <div class="row relative mgb10">
                                    <div class="col s12 m8 xspdl10">
                                        <div class="ft12">16 May 2017</div>
                                        <h2 class="ft18 b mgbn mgt5 truncate"><a href="" class="red-text">Anil Kumar 25,000</a></h2>
                                        <h6 class="mgbn ft13 truncate text-darken-2 mgt5">
                                <a href="" class="grey-text"> Golf Course Road, Sector 42</a></h6>
                                        <div class="mgt5 ft12 b">3BHK ( 2450 sq. ft. )</div>
                                    </div>
                                    <div class="col s12 m4 pdln right-align">
                                        <div class="ft12 mgt5">09xxxxxxxxx</div>
                                        <div class="ft12">xxxxxxxx@gmail.com</div>
                                    </div>
                                </div>
                                <div class="row bodt mgbn center grey lighten-5 ftcard">
                                    <a onclick="$('#customer_dtails') .css ('display','block')" class="col s12 m4 grey-text text-darken-2 b pdt20 listbtn bdrf">
                                    View Details</a>
                                    <button data-target="buypopupExclusive" class="col s12 m4 grey-text text-darken-2 pda10 listbtn btnflat bdrf">
                                        <b> Buy Exclusive</b>
                                        <br> Cost Rs 500</button>
                                    <button data-target="buypopupShared" class="col s12 m4 grey-text text-darken-2 listbtn btnflat  pda10"><b>Buy Shared</b>
                                        <br> <span>Cost Rs 250</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- end popup -->
    <!-- popup buy start -->
    <div id="buypopupShared" class="modal wdbuy white">
        <div class="modal-content pda20">
            <h5 class="ft15 mgtn b pdb10">Buy Shared Leads <i class="material-icons right pointer modal-action modal-close">close</i></h5>
            <div class="row relative mgb10">
                <div class="col s8 pdln">
                    <div class="ft12">16 May 2017</div>
                    <h2 class="ft18 b mgbn mgt5 truncate"><a  href="" class="red-text">Anil Kumar 25,000</a></h2>
                    <h6 class="mgbn ft13 truncate text-darken-2 mgt5">
                                <a href="" class="grey-text"> Golf Course Road, Sector 42</a></h6>
                    <div class="mgt5 ft12 b">3BHK ( 2450 sq. ft. )</div>
                </div>
                <div class="col s4 pdrn right-align">
                    <div class="ft12 mgt5">09xxxxxxxxx</div>
                    <div class="ft12">xxxxxxxx@gmail.com</div>
                </div>
            </div>
            <div class="row">
                <div class="col s6 ft15 pdln">
                    <p> Current Balance</p>
                    <p>Cost</p>
                    <p>Balance</p>
                </div>
                <div class="col s6 b ft15 pdrn">
                    <p>5,850 Rs</p>
                    <p>500 Rs</p>
                    <p class="bodt pdt10">5,350 Rs</p>
                </div>
            </div>
            <div class="row bodt center">
                <h5 class="ft17 b green-text">Would you like to confirm ?</h5>
                <a href="#!" class="btn">Yes</a>
                <a class="modal-action modal-close btn btn-primary pointer">No</a>
            </div>
        </div>
    </div>
    <div id="buypopupExclusive" class="modal wdbuy white">
        <div class="modal-content pda20">
            <h5 class="ft15 mgtn b pdb10">Buy Exclusive Leads <i class="material-icons right pointer modal-action modal-close">close</i></h5>
            <div class="row relative mgb10">
                <div class="col s12 m8 pdln">
                    <div class="ft12">16 May 2017</div>
                    <h2 class="ft18 b mgbn mgt5 truncate"><a  href="" class="red-text">Anil Kumar 25,000</a></h2>
                    <h6 class="mgbn ft13 truncate text-darken-2 mgt5">
                                <a href="" class="grey-text"> Golf Course Road, Sector 42</a></h6>
                    <div class="mgt5 ft12 b">3BHK ( 2450 sq. ft. )</div>
                </div>
                <div class="col s12 m4 pdrn right-align">
                    <div class="ft12 mgt5">09xxxxxxxxx</div>
                    <div class="ft12">xxxxxxxx@gmail.com</div>
                </div>
            </div>
            <div class="row">
                <div class="col s6 ft15 pdln">
                    <p> Current Balance</p>
                    <p>Cost</p>
                    <p>Balance</p>
                </div>
                <div class="col s6 b ft15 pdrn">
                    <p>5,850 Rs</p>
                    <p>500 Rs</p>
                    <p class="bodt pdt10">5,350 Rs</p>
                </div>
            </div>
            <div class="row bodt center">
                <h5 class="ft17 b green-text">Would you like to confirm ?</h5>
                <a href="#!" class="btn">Yes</a>
                <a class="modal-action modal-close btn btn-primary pointer">No</a>
            </div>
        </div>
    </div>
   
    <!-- popup buy end -->
    <!-- more details start popup-->
    <div id="customer_dtails">
        <div class="row">
            <div class="col s12 m12 l10 offset-l1 mgt30 pda20 white">
                <h5 class="mgtn">Details <i class="material-icons right pointer"  onclick="$('#customer_dtails') .css ('display','none')">close</i></h5>
                <div class="row ondt autoscroll">
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">person</i> Anil Kumar</h5>
                        <p class="green-text text-darken-2 ft15 ht30"><i class="material-icons left">phone</i>+91 921462897623
                        </p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">email</i> Email Id</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> anil.kumar@gmail.com
                        </p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">location_city</i>Current City</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Gurgaon</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">location_on</i> Current Address</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Flat 202, Floor 2, Tower B, Vipul Green, Sector 48, Gurgaon</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">list</i> Looking for</h5>
                        <p class="green-text text-darken-2 ft15 ht30">2 BHK / 3BHK
                        </p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">location_city</i> Residential Type</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Apartment</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">flip_to_back</i> Size</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> 2020 Sq. Ft.</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">person</i> Looking for</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Family</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">list</i> Budget</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Rs 20,000 - 25,000
                            <span class="ft12 grey-text"> ( Including Maintenance )</span>
                        </p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">weekend</i> Furnishing</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Fully Furnished</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">location_city</i> Prefered Society</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Vipul Greens</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">location_city</i> Prefered Location</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Sohna Road</p>
                    </div>
                    <div class="col s12 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">date_range</i> Movein Date</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> 21st Jun 2017 (fixed)</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">check_box_outline_blank</i> Employment</h5>
                        <p class="green-text text-darken-2 ft15 ht30">Service</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">group</i> Company / College Name</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> MNC Working</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">group</i> Designation</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Web Designer</p>
                    </div>
                    <div class="col s12 m6 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">group</i> Total Experience</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> 6 Years</p>
                    </div>
                    <div class="col s12 m12 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">person</i> linkedin Profile</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Material icons are beautifully crafted, delightful, and easy to use in your web, Android, and iOS projects. Learn more about material design and our process for making these icons in the system icons section of the material design guidelines. </p>
                    </div>
                    <div class="col s12 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">group</i> Requirements</h5>
                       <p class="col s4 green-text text-darken-2 ft15 ht30 pdl30"> Swimming Pool</p>
                            <p class="col s4 green-text text-darken-2 ft15 ht30"> Clubhouse</p>
                            <p class="col s4 green-text text-darken-2 ft15 ht30"> GYM</p>
                    </div>
                    <div class="col s12 m12 bdalight">
                        <h5 class="grey-text text-darken-2 ft17"><i class="material-icons left mns3">subject</i> Other Requirements</h5>
                        <p class="green-text text-darken-2 ft15 ht30"> Material icons are beautifully crafted, delightful, and easy to use in your web, Android, and iOS projects. Learn more about material design and our process for making these icons in the system icons section of the material design guidelines. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- more details end -->
    <script type="text/javascript">
    $(document).ready(function() {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
    </script>
</div>
