<div>
    <section class="mgt65 pd48 sdb">
        <div class="row container">
            <div class="col s12 m7">
                <img src="images/general/noImage.png" alt="" class="circle_profile left">
                <div class="left mgb30">
                    <h5 class="green-text">Digamber Sharma</h5>
                    <div class="left"> <i class="material-icons left ft20">phone</i> 09876543221</div>
                    <div class="left pdl30 xspdln"> <i class="material-icons left ft20">email</i> loremipsum@gmail.com</div>
                </div>
            </div>
            <div class="col s12 m5 right-align">
                <img src="images/general/logo.png" alt="" class="fixprologo">
                <p class="mgtn">www.companyname.com</p>
                <div class="right">
                    <div><b>Areas</b> 2250 sq. ft. </div>
                    <div><b>work range</b> ------------- </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row center">
                <a href="#/profile-manage" class="col s12 m4 pda20 scale">
                    <div class="card  pda20">
                        <i class="material-icons small grey-text">date_range</i>
                        <h4 class="orange-text"> Last Login</h4>
                        <p class="grey-text text-darken-1 b ft14"> 21st May 2017, 11:00am</p>
                    </div>
                </a>
                <a href="#/payments" class="col s12 m4 pda20 scale">
                    <div class="card  pda20">
                        <i class="material-icons small grey-text">done</i>
                        <h4 class="green-text">25,000 Rs</h4>
                        <p class="grey-text text-darken-1 b ft14">Current Balance</p>
                    </div>
                </a>
                <a href="#/profile-manage" class="col s12 m4 pda20 scale">
                    <div class="card  pda20">
                        <i class="material-icons small grey-text">verified_user</i>
                        <h4 class="blue-text">18</h4>
                        <p class="grey-text text-darken-1 b ft14">Leads Activated</p>
                    </div>
                </a>
                <a href="#/profile-manage" class="col s12 m4 pda20 scale">
                    <div class="card  pda20">
                        <i class="material-icons small grey-text">done_all</i>
                        <h4 class="green-text">06</h4>
                        <p class="grey-text text-darken-1 b ft14">Leads Converted</p>
                    </div>
                </a>
                <a href="#/sub-user" class="col s12 m4 pda20 scale">
                    <div class="card  pda20">
                        <i class="material-icons small grey-text">group</i>
                        <h4 class="black-text">00</h4>
                        <p class="grey-text text-darken-1 b ft14">Team Members</p>
                    </div>
                </a>
                <a href="#/payments" class="col s12 m4 pda20 scale">
                    <div class="card  pda20">
                        <i class="material-icons small grey-text">radio_button_checked</i>
                        <h4 class="red-text">18</h4>
                        <p class="grey-text text-darken-1 b ft14">Total Spent</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="pd48 grey lighten-4">
        <div class="container">
            <div class="row center mgbn">
                <h5>Explore and grow your business</h5>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <h5 class="red-text cirspn"><span>25</span></h5>
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Customer Leads</p>
                        <p class="grey-text mgan">of</p>
                        <p class="b mgtn green-text">Sohna Road</p>
                        <a href="#/customerleads" class="btn ft13">View Now</a>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <h5 class="red-text cirspn"><span>15</span></h5>
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Owner Leads</p>
                        <p class="grey-text mgan">of</p>
                        <p class="b mgtn orange-text">Golf Course Road</p>
                        <a href="#/owner-details" class="btn ft13">View Now</a>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <h5 class="red-text cirspn"><span>25</span></h5>
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Customer Leads</p>
                        <p class="grey-text mgan">of</p>
                        <p class="b mgtn green-text">Sohna Road</p>
                        <a href="#/customerleads" class="btn ft13">View Now</a>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <h5 class="red-text cirspn"><span>25</span></h5>
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Owner Leads</p>
                        <p class="grey-text mgan">of</p>
                        <p class="b mgtn orange-text">Sohna Road</p>
                        <a href="#/owner-details" class="btn ft13">View Now</a>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <h5 class="red-text cirspn"><span>25</span></h5>
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Owner Leads</p>
                        <p class="grey-text mgan">of</p>
                        <p class="b mgtn orange-text">Sohna Road</p>
                        <a href="#/owner-details" class="btn ft13">View Now</a>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <h5 class="red-text cirspn"><span>25</span></h5>
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Customer Leads</p>
                        <p class="grey-text mgan">of</p>
                        <p class="b mgtn green-text">Sohna Road</p>
                        <a href="#/customerleads" class="btn ft13">View Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
