<div>
    <style>
    td {
        padding-left: 15px;
        padding-right: 15px;
    }
    </style>
    <section class="mgt65 pd48 sdb">
        <div class="row container">
            <div class="col s12 m7">
                <img src="images/general/noImage.png" alt="" class="circle_profile left">
                <div class="left mgb30">
                    <h5 class="green-text">Digamber Sharma</h5>
                    <div class="left"> <i class="material-icons left ft20">phone</i> 09876543221</div>
                    <div class="left pdl30 xspdln"> <i class="material-icons left ft20">email</i> loremipsum@gmail.com</div>
                </div>
            </div>
            <div class="col s12 m5 right-align">
                <img src="images/general/logo.png" alt="" class="fixprologo">
                <p class="mgtn">www.companyname.com</p>
                <div class="right">
                    <div><b>Areas</b> 2250 sq. ft. </div>
                    <div><b>work range</b> ------------- </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pd48">
        <div class="container">
            <div class="row">
                <div class="col s12" style="overflow-y: auto">
                    <table style="width: 600px; margin:30px auto; border:1px solid #eee;">
                        <tbody>
                            <tr>
                                <td colspan="2"><b>Roofpik</b></td>
                            </tr>
                            <tr>
                                <td style="padding-top: 0px; font-size: 13px;">91Springboard, Plot No 23,
                                    <br> Sector 18, Gurgaon, Haryana India</td>
                                <td style="text-align: right; padding-top: 0px;"><img src="http://www.roofpik.com/images/general/logo.png" width="100"></td>
                            </tr>
                            <tr>
                                <td style="color: #e53935; font-size: 20px"><b>Invoice Number</b></td>
                                <td style="color: #e53935; font-size: 20px"><b>#0690</b></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border-bottom: 2px solid #e53935; padding: 0px;"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 0px;">
                                    <table>
                                        <tr>
                                            <td style="color:#e53935"><b>Bill To</b></td>
                                            <td style="color:#e53935"><b>Ship To</b></td>
                                            <td style="color:#e53935"><b>Invoice Date</b></td>
                                            <td>28/04/2017</td>
                                        </tr>
                                        <tr>
                                            <td>Digamber Sharma</td>
                                            <td>Digamber Sharma</td>
                                            <td style="color:#e53935"><b>Due Date</b></td>
                                            <td>13/05/2017</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding: 0px;">
                                    <table style="border:1px solid #eee; margin:30px 0px;">
                                        <tr>
                                            <td style="color:#fff; background-color: #e53935; width: 10%; border-right: 1px solid #ddd;"><b>Qty</b></td>
                                            <td style="color:#fff; background-color: #e53935; width: 50%; border-right: 1px solid #ddd;"><b>Description</b></td>
                                            <td style="color:#fff; background-color: #e53935; width: 20%; border-right: 1px solid #ddd;"><b>Unit Price</b></td>
                                            <td style="color:#fff; background-color: #e53935; width: 20%"><b>Amount</b></td>
                                        </tr>
                                        <tr>
                                            <td style="border-right: 1px solid #ddd;">1</td>
                                            <td style="border-right: 1px solid #ddd;">Digamber Sharma</td>
                                            <td style="text-align: right;border-right: 1px solid #ddd;"><b>5,000</b></td>
                                            <td style="text-align: right"><b>5,000</b></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">Sub Total Amount</td>
                                <td style="text-align: right;">₹ 5,000</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">Bouns Amount</td>
                                <td style="text-align: right;">₹ 500</td>
                            </tr>
                            <tr>
                                <td style="text-align: right; font-size: 20px;"><b>Total</b></td>
                                <td style="text-align: right; font-size: 20px;"><b>₹ 4,500</b></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border-bottom: 2px solid #e53935; padding-top:100px"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="color: #e53935"><b>Terms & Conditions</b></td>
                            </tr>
                            <tr>
                                <td colspan="2">Payment is due within 15 days</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
