<div>
    <section class="mgt65 grey lighten-5">
        <div>
            <div class="side-nav hide-on-large-only" id="slide-out1">
                <form>
                    <div class="row filter-heading">
                        <div class="col s12">
                            <span> Filters </span>
                        </div>
                    </div>
                    <hr>
                    <div class="row price-filter">
                        <div class="col s12">
                            <h3 class="ft14 b">Rent</h3>
                        </div>
                        <div class="col s12">
                            <div id="price2"></div>
                        </div>
                        <div class="col s6" ng-hide="true">
                            <input id="minP" placeholder="₹ Min" type="number" ng-change="minChange()" ng-model="data.rmin" />
                        </div>
                        <div class="col s6" ng-hide="true">
                            <input id="maxP" placeholder="₹ Max" type="number" ng-change="maxChange()" ng-model="data.rmax" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h3 class="ft14 b">Project Categories</h3>
                        </div>
                        <div class="col s12 mgt5" ng-repeat="item in categories">
                            <input type="checkbox" ng-model="selected.category[item.id]" id="{{item.id}}" ng-change="addFilter(item.id, 'category')" class="filled-in" />
                            <label class="ft11" for="{{item.id}}">{{item.name}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h3 class="ft14 b">Bedroom</h3>
                        </div>
                        <div class="col s6 mgt5" ng-repeat="item in [1, 2, 3, 4, 5, 6]">
                            <input type="checkbox" class="filled-in" ng-model="selected.bhk[item]" ng-change="addFilter(item, 'bhk')" id="{{item}}" />
                            <label class="ft11" for="{{item}}">{{item}} BHK</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h3 class="ft14 b">Property Types</h3>
                        </div>
                        <div class="col s12 mgt5" ng-repeat="item in propertyTypes">
                            <input type="checkbox" ng-model="selected.ptype[item.id]" id="{{item.id}}" ng-change="addFilter(item.id, 'ptype')" class="filled-in" />
                            <label class="ft11" for="{{item.id}}">{{item.name}}</label>
                        </div>
                    </div>
                    <div class="row  mgbn">
                        <div class="col s12">
                            <span class="more-filter" ng-click="moreFilters()">More Filters</span>
                        </div>
                    </div>
                    <!-- Modal Trigger -->
                    <!-- Modal Structure -->
                </form>
            </div>
            <div class="row mgt45">
                <section>
                    <div class="row list-heading">
                        <div class="col s12 pdl30 xspdl20">
                            <h5 class="mgbn">  Projects in Gurgaon  <a href="#" data-activates="slide-out1" class="right flticon button-collapse1 hide-on-large-only"><i class="material-icons">menu</i></a></h5>
                        </div>
                        <div class="row linkroot mgan">
                            <nav class="bgtrans pdl20 xspdl10">
                                <div class="nav-wrapper bgtrans">
                                    <div class="col s12">
                                        <a href="/#/home" class="breadcrumb">Home</a>
                                        <a href="" class="breadcrumb">Projects</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="row pdl30 pdr30 xspdl10 xspdrn">
                        <div id="boxfilterlist" class="col s2 m3 l3 hide-on-med-and-down ">
                            <form>
                                <div class="row filter-heading">
                                    <div class="col s12">
                                        <span> Filters </span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row price-filter">
                                    <div class="col s12">
                                        <h3 class="ft14 b">Rent</h3>
                                    </div>
                                    <div class="col s12">
                                        <div id="price"></div>
                                    </div>
                                    <div class="col s6" ng-hide="true">
                                        <input id="minP" placeholder="₹ Min" type="number" ng-change="minChange()" ng-model="data.rmin" />
                                    </div>
                                    <div class="col s6" ng-hide="true">
                                        <input id="maxP" placeholder="₹ Max" type="number" ng-change="maxChange()" ng-model="data.rmax" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h3 class="ft14 b">Project Categories</h3>
                                    </div>
                                    <div class="col s12 mgt5" ng-repeat="item in categories">
                                        <input type="checkbox" ng-model="selected.category[item.id]" id="{{item.id}}" ng-change="addFilter(item.id, 'category')" class="filled-in" />
                                        <label class="ft11" for="{{item.id}}">{{item.name}}</label>
                                     
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h3 class="ft14 b">Bedroom</h3>
                                    </div>
                                    <div class="col s6 mgt5" ng-repeat="item in [1, 2, 3, 4, 5, 6]">
                                        <input type="checkbox" class="filled-in" ng-model="selected.bhk[item]" ng-change="addFilter(item, 'bhk')" id="{{item}}" />
                                        <label class="ft11" for="{{item}}">{{item}} BHK</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h3 class="ft14 b">Property Types</h3>
                                    </div>
                                    <div class="col s12 mgt5" ng-repeat="item in propertyTypes">
                                        <input type="checkbox" ng-model="selected.ptype[item.id]" id="{{item.id}}" ng-change="addFilter(item.id, 'ptype')" class="filled-in" />
                                        <label class="ft11" for="{{item.id}}">{{item.name}}</label>
                                       
                                    </div>
                                </div>
                                <div class="row  mgbn">
                                    <div class="col s12">
                                        <span class="more-filter" ng-click="moreFilters()">More Filters</span>
                                    </div>
                                </div>
                                <!-- Modal Trigger -->
                                <!-- Modal Structure -->
                            </form>
                        </div>
                        <div class="col s12 m12 l6 pdr30 xspdr20 projList">
                            <div class="col s12 card pdt10 pdbn pdln pdrn white">
                                <div class="row relative mgb10">
                                    <div class="col s3 proj-thumb">
                                        <a href=""> <img src="images/vatika-city-main-photo537-s.jpg" class="responsive-img"></a>
                                    </div>
                                    <div class="col s6 pdln xspdl10">
                                        <div class="ft12">16 May 2017</div>
                                        <h2 class="ft18 b mgbn mgt5 truncate"><a  href="" class="red-text"> Project Name</a></h2>
                                        <h6 class="mgbn ft13 truncate text-darken-2 mgt5">
                                <a href="" class="grey-text"> Golf Course Road, Sector 42</a></h6>
                                        <div class="mgt5 ft12 b">3BHK ( 2450 sq. ft. )</div>
                                    </div>
                                    <div class="col s3 pdln right-align">
                                        <span class="pdl10  b">Arpit Mittal</span>
                                        <div class="ft11 grey-text mgt5">09xxxxxxxxx</div>
                                        <div class="ft11 grey-text">xxxxxxxx@gmail.com</div>
                                        <a class="btn btn-flat ft12 b" href=""><i></i> Gallery</a>
                                    </div>
                                </div>
                                <div class="row mgan bodt">
                                    <div class="col s3 listp dgrey-text pdt10  fd-load">
                                        <p>Rent:</p>
                                        <p>Available from:</p>
                                        <p>Property Type:</p>
                                        <p>Floor:</p>
                                    </div>
                                    <div class="col s8 listp vgrey-text pdln pdt10 pdb10 pdrn  fd-load">
                                        <p>₹10,000</p>
                                        <p>21st Jun 2017</p>
                                        <p>Apartment</p>
                                        <p>7th </p>
                                    </div>
                                </div>
                                <div class="row bodt mgbn center grey lighten-5">
                                    <a class="col s4 m4 grey-text text-darken-2 pda10 listbtn bod-right">View Details</a>
                                    <a class="col s12 m4 grey-text text-darken-2 pda10 listbtn bod-right" >View Details</a>
                                    <a href="" class="col s4 m4 grey-text b listbtn_active pda10 hide-on-small-only ">Write Review</span></a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </section>
               
            </div>
        </div>
    </section>
</div>
