<section class="section mgt30">
    <div class="container">
        <div class="row pd48">
            <div class="col s12 m8 offset-m2">
                <div class="row mgan">
                    <div class="col s12 pdl30">
                        <h5 class="orange-text">Owner Registration Form</h5>
                        <p class="b">Fill in the Details</p>
                        <form name="contactUs">
                            <div class="row mgbn">
                                <div class="input-field col s6 m4 pdln">
                                    <input class="with-gap" name="group1" type="radio" id="Owner" />
                                    <label for="Owner">Owner</label>
                                </div>
                                <div class="input-field col s6 m4">
                                    <input class="with-gap" name="group1" type="radio" id="Dealer" />
                                    <label for="Dealer">Dealer</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">List property for</h5>
                                <div class="input-field col s12 m6">
                                    <select class="grey-text">
                                        <option value="" disabled selected>Rent</option>
                                        <option value="1">Lorem ipsum</option>
                                        <option value="1">Lorem ipsum</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <h5 class="pdl10 ft15 b">Residential</h5>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Residential" />
                                    <label for="Residential">Residential Apartments</label>
                                </div>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Independent" />
                                    <label for="Independent">Independent House</label>
                                </div>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Builder" />
                                    <label for="Builder">Builder Floor</label>
                                </div>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Rowhouse" />
                                    <label for="Rowhouse">Rowhouse</label>
                                </div>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Studio" />
                                    <label for="Studio">Studio Apartments</label>
                                </div>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Serviced" />
                                    <label for="Serviced">Serviced Apartments</label>
                                </div>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Penthouse" />
                                    <label for="Penthouse">Penthouse</label>
                                </div>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Villa" />
                                    <label for="Villa">Villa</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Willing to rent out to</h5>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Family" />
                                    <label for="Family">Family</label>
                                </div>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Men" />
                                    <label for="Men">Singal Men</label>
                                </div>
                                <div class="col s6 m4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Women" />
                                    <label for="Women">Singal Women</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Where is the property located</h5>
                                <div class="input-field col s6 m5">
                                    <select class="grey-text">
                                        <option value="" disabled selected>City</option>
                                        <option value="1">Gurgaon</option>
                                        <option value="2">Gurgaon</option>
                                        <option value="3">Gurgaon</option>
                                    </select>
                                </div>
                                <div class="input-field col s6 m7">
                                    <input id="projectname" type="text" class="validate" required>
                                    <label for="projectname">Project Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="Locality" type="text" class="validate" required>
                                    <label for="Locality">Locality</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="Address" type="text" class="validate" required>
                                    <label for="Address">Address</label>
                                </div>
                                <div class="input-field col s6 m2">
                                    <input id="Flat" type="text" class="validate" required>
                                    <label for="Flat">Flat</label>
                                </div>
                                <div class="input-field col s6 m2">
                                    <input id="Floor" type="text" class="validate" required>
                                    <label for="Floor">Floor</label>
                                </div>
                                <div class="input-field col s6 m2">
                                    <input id="Tower" type="text" class="validate" required>
                                    <label for="Tower">Tower</label>
                                </div>
                                <div class="input-field col s6 m3">
                                    <input id="Total" type="text" class="validate" required>
                                    <label for="Total">Total Floor</label>
                                </div>
                                <div class="input-field col s6 m3">
                                    <input id="Property" type="text" class="validate" required>
                                    <label for="Property">Property on Floor</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Configuration</h5>
                                <div class="input-field col s6">
                                    <select class="grey-text">
                                        <option value="" disabled selected>Select</option>
                                        <option value="1">1RK, 1BHK</option>
                                        <option value="2">1RK, 2BHK</option>
                                        <option value="3">1RK, 3BHK</option>
                                        <option value="4">1RK, 4BHK</option>
                                        <option value="5">1RK, 5BHK</option>
                                    </select>
                                </div>
                                <div class="input-field col s6">
                                    <select class="grey-text">
                                        <option value="" disabled selected>Size Sq. Ft.</option>
                                        <option value="1">1500 - 1800 Sq. Ft.</option>
                                        <option value="2">1500 - 1800 Sq. Ft.</option>
                                        <option value="3">1500 - 1800 Sq. Ft.</option>
                                    </select>
                                </div>
                                <div class="input-field col s6">
                                    <select class="grey-text">
                                        <option value="" disabled selected>Bedrooms Select</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="input-field col s6">
                                    <select class="grey-text">
                                        <option value="" disabled selected>Bathrooms Select</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="input-field col s6">
                                    <select class="grey-text">
                                        <option value="" disabled selected>Balconies Select</option>
                                        <option value="1">More than 1</option>
                                        <option value="2">More than 2</option>
                                        <option value="3">More than 3</option>
                                        <option value="4">More than 4</option>
                                        <option value="5">More than 5</option>
                                        <option value="6">More than 6</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <h5 class="pdl10 ft15 b">Add Other Rooms</h5>
                                <div class="col s6 m3 mgt5">
                                    <input type="checkbox" class="filled-in" id="Pooja" />
                                    <label for="Pooja">Pooja Room</label>
                                </div>
                                <div class="col s6 m3 mgt5">
                                    <input type="checkbox" class="filled-in" id="Study" />
                                    <label for="Study">Study Room</label>
                                </div>
                                <div class="col s6 m3 mgt5">
                                    <input type="checkbox" class="filled-in" id="Servant" />
                                    <label for="Servant">Servant Room</label>
                                </div>
                                <div class="col s6 m3 mgt5">
                                    <input type="checkbox" class="filled-in" id="Others" />
                                    <label for="Others">Others</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Furnishing</h5>
                                <div class="input-field col s6">
                                    <select multiple>
                                        <option value="" disabled selected>Select</option>
                                        <option value="1">Semifurnished</option>
                                        <option value="2">Unfurnished</option>
                                        <option value="3">Fullyfurnished</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <h5 class="pdl10 ft15 b">Select Furnishing</h5>
                                <div class="input-field col s6 m4">
                                    <p>Wardrobe</p>
                                    <a href="" class="addremove"><i class="material-icons left">remove_circle_outline</i></a>
                                    <span class="left pdr10">2</span>
                                    <a href="" class="addremove"><i class="material-icons left">add_circle_outline</i></a>
                                </div>
                                <div class="input-field col s6 m4">
                                    <p> Beds</p>
                                    <a href="" class="addremove"><i class="material-icons left">remove_circle_outline</i></a>
                                    <span class="left pdr10">2</span>
                                    <a href="" class="addremove"><i class="material-icons left">add_circle_outline</i></a>
                                </div>
                                <div class="input-field col s6 m4">
                                    <p>Fans</p>
                                    <a href="" class="addremove"><i class="material-icons left">remove_circle_outline</i></a>
                                    <span class="left pdr10">2</span>
                                    <a href="" class="addremove"><i class="material-icons left">add_circle_outline</i></a>
                                </div>
                                <div class="input-field col s6 m4">
                                    <p> Lights</p>
                                    <a href="" class="addremove"><i class="material-icons left">remove_circle_outline</i></a>
                                    <span class="left pdr10">2</span>
                                    <a href="" class="addremove"><i class="material-icons left">add_circle_outline</i></a>
                                </div>
                                <div class="col s6 m4">
                                    <p class="mgt30"> Modular Kitchen</p>
                                    <div class="switch">
                                        <label>
                                            Off
                                            <input type="checkbox">
                                            <span class="lever"></span> On
                                        </label>
                                    </div>
                                </div>
                                <div class="col s6 m4">
                                    <p class="mgt30">Fridge</p>
                                    <div class="switch">
                                        <label>
                                            Off
                                            <input type="checkbox">
                                            <span class="lever"></span> On
                                        </label>
                                    </div>
                                </div>
                                <div class="col s12 mgt30">
                                    <a href="" class="togl_btn">+ Add More</a>
                                </div>
                                <div class="col s12 Furnishing_box" style="display: none;">
                                    <div class="row">
                                        <div class="input-field col s6 m4">
                                            <p> AC</p>
                                            <a href="" class="addremove"><i class="material-icons left">remove_circle_outline</i></a>
                                            <span class="left pdr10">2</span>
                                            <a href="" class="addremove"><i class="material-icons left">add_circle_outline</i></a>
                                        </div>
                                        <div class="input-field col s6 m4">
                                            <p> Geyser</p>
                                            <a href="" class="addremove"><i class="material-icons left">remove_circle_outline</i></a>
                                            <span class="left pdr10">2</span>
                                            <a href="" class="addremove"><i class="material-icons left">add_circle_outline</i></a>
                                        </div>
                                        <div class="input-field col s6 m4">
                                            <p> TV</p>
                                            <a href="" class="addremove"><i class="material-icons left">remove_circle_outline</i></a>
                                            <span class="left pdr10">2</span>
                                            <a href="" class="addremove"><i class="material-icons left">add_circle_outline</i></a>
                                        </div>
                                        <div class="col s6 m4">
                                            <p class="mgt30">Stove</p>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s6 m4">
                                            <p class="mgt30">Washing Machine</p>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s6 m4">
                                            <p class="mgt30">Water Purifier</p>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s6 m4">
                                            <p class="mgt30">Microwave</p>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s6 m4">
                                            <p class="mgt30">Curtains</p>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s6 m4">
                                            <p class="mgt30">Chimney</p>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s6 m4">
                                            <p class="mgt30">Exhaust Fan</p>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s6 m4">
                                            <p class="mgt30">Sofa</p>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col s6 m4">
                                            <p class="mgt30">Dinning Table</p>
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span> On
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Others</h5>
                                <div class="input-field col s12">
                                    <input id="otherFurnishing" type="text" class="validate" required>
                                    <label for="otherFurnishing"> Enter if any other Furnishing </label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <h5 class="pdl10 ft15 b">Reserved Parking</h5>
                                <div class="col s6 m3 mgt5">
                                    <input type="checkbox" class="filled-in" id="None" />
                                    <label for="None">None</label>
                                </div>
                                <div class="col s6 m3 mgt5">
                                    <input type="checkbox" class="filled-in" id="Covered" />
                                    <label for="Covered">Covered</label>
                                </div>
                                <div class="col s6 m3 mgt5">
                                    <input type="checkbox" class="filled-in" id="Open" />
                                    <label for="Open">Open</label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="input-field col s6 mgt30">
                                    <select class="grey-text">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                    <label for="Open" class="b">No. of Covered Parkings</label>
                                </div>
                                <div class="input-field col s6 mgt30">
                                    <select class="grey-text">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                    <label for="Open" class="b">No. of Open Parkings</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Available from </h5>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">date_range</i>
                                    <input type="date" class="datepicker" id="datetext">
                                    <label for="datetext">Select Date</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Expected Monthly Rent </h5>
                                <div class="input-field col s6">
                                    <input id="Rent" type="text" class="validate" required>
                                    <label for="Rent">Rent</label>
                                </div>
                                <div class="col s4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Negotiable" />
                                    <label for="Negotiable">Price Negotiable</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Brokerage </h5>
                                <div class="input-field col s6">
                                    <input id="Rentamount" type="text" class="validate" required>
                                    <label for="Rentamount">Amount</label>
                                </div>
                                <div class="col s4 mgt5">
                                    <input type="checkbox" class="filled-in" id="Brokerage" />
                                    <label for="Brokerage">Brokerage Negotiable</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Maintenance Monthly </h5>
                                <div class="input-field col s6">
                                    <input id="Maintenance" type="text" class="validate" required>
                                    <label for="Maintenance">Amount</label>
                                </div>
                                <div class="col s4 mgt5">
                                    <label>Monthly</label>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Age of Property</h5>
                                <div class="input-field col s6">
                                    <select>
                                        <option value="" disabled selected>Select</option>
                                        <option value="1">0-1 Years Old Property</option>
                                        <option value="2">1-5 Years Old Property</option>
                                        <option value="3">5-10 Years Old Property</option>
                                        <option value="4">10 + Years Old Property</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Gallery and  Cover Images</h5>
                                <div class="col s12 file-field input-field">
                                    <div class="btn">
                                        <span>Gallery Images</span>
                                        <input type="file" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                    </div>
                                </div>
                                <div class="col s12 file-field input-field">
                                    <div class="btn">
                                        <span>Cover Image</span>
                                        <input type="file" multiple>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Upload one file">
                                    </div>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                                <h5 class="pdl10 ft15 b">Power Backup </h5>
                                <div class="input-field col s12">
                                    <select>
                                        <option value="" disabled selected>Select</option>
                                        <option value="1">None</option>
                                        <option value="2">Full</option>
                                        <option value="3">Partial</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mgbn mgt30">
                             <h5 class="pdl10 ft15 b">Other Details</h5>
                                <div class="input-field col s12 m4">
                                    <select>
                                        <option value="" disabled selected>Select</option>
                                        <option value="1">East</option>
                                        <option value="2">North-East</option>
                                        <option value="3">North</option>
                                        <option value="3">West</option>
                                        <option value="3">South</option>
                                        <option value="3">South-East</option>
                                        <option value="3">North-west</option>
                                        <option value="3">South-West</option>
                                    </select>
                                    <label>Facing</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <select>
                                        <option value="" disabled selected>Select</option>
                                        <option value="1">Allowed</option>
                                        <option value="2">Notallowed</option>
                                    </select>
                                    <label>Pets</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <select>
                                        <option value="" disabled selected>Select</option>
                                        <option value="1">Vitrified</option>
                                        <option value="2">Marble</option>
                                        <option value="3">Ceramic</option>
                                        <option value="4">Mosaic</option>
                                        <option value="5">Wood</option>
                                        <option value="6">Granite</option>
                                        <option value="7">Spartex</option>
                                        <option value="8">Cement</option>
                                        <option value="9">Stone</option>
                                        <option value="10">Vinyl</option>
                                        <option value="11">IPSFinish</option>
                                        <option value="12">Others</option>
                                    </select>
                                    <label>Type of Flooring</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <h5 class="pdl10 ft15 b">Description</h5>
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea" required></textarea>
                                    <label for="textarea1">Type your description here</label>
                                </div>
                            </div>
                            <div class="col s12">
                                <button class="btn pdl30 pdr30">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $(".togl_btn").click(function() {
            $(".Furnishing_box").toggle();
        });
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    });
    </script>
</section>
