<div>
    <section class="mgt65 pd48 sdb">
         <div class="row container">
            <div class="col s12 m7">
                <img src="images/general/noImage.png" alt="" class="circle_profile left">
                <div class="left mgb30">
                    <h5 class="green-text">Digamber Sharma</h5>
                    <div class="left"> <i class="material-icons left ft20">phone</i> 09876543221</div>
                    <div class="left pdl30 xspdln"> <i class="material-icons left ft20">email</i> loremipsum@gmail.com</div>
                </div>
            </div>
            <div class="col s12 m5 right-align">
                <img src="images/general/logo.png" alt="" class="fixprologo">
                <p class="mgtn">www.companyname.com</p>
                <div class="right">
                    <div><b>Areas</b> 2250 sq. ft. </div>
                    <div><b>work range</b> ------------- </div>

                </div>
            </div>
        </div>
    </section>
    <section class="pd48">
        <div class="container">
            <div class="row">
                <div class="col s12 m3">
                    <a href="#/invoice-table" class="btn ft15 b pdl30 pdr30"><i class="material-icons left">list</i> Invoice</a>
                </div>
                <div class="col s12 m3 center">
                    <div class="pda10 bodall ft15 b">
                        Amount
                        <br> 5000
                    </div>
                </div>
                <div class="col s12 m3 center">
                    <div class="pda10 bodall orange-text ft15 b">
                        Bouns Amount
                        <br> 500
                    </div>
                </div>
                <div class="col s12 m3 pda10"><a href="" class="b green-text btn-flat"> +Add Credits</a></div>
            </div>
        </div>
    </section>
    <section class="pd48 grey lighten-4">
        <div class="container">
            <div class="row center mgbn">
                <h5>Account Balance</h5>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Total Amount</p>
                        <p class="b mgtn green-text">xxxx</p>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Bonus Amount</p>
                        <p class="b mgtn green-text">xxxxx</p>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Total Credits</p>
                        <p class="b mgtn green-text">xxxxxx</p>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Leads Activated</p>
                        <p class="b mgtn green-text">xxxxx</p>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Amount Debited</p>
                        <p class="b mgtn green-text">Sohna Road</p>
                    </div>
                </div>
                <div class="col s12 m4 pda20">
                    <div class="card  pda20">
                        <p class="grey-text text-darken-1 b ft14 mgbn"> Account Balance</p>
                        <p class="b mgtn green-text">xxxx</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
