<nav>
    <div class="nav-wrapper white">
        <a href="#!" class="brand-logo left-align grey-text text-darken-2"><img src="images/general/logoicon.png" alt="Roofpik Logo" class="logo"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html" class="grey-text">Sass</a></li>
            <li><a href="badges.html" class="grey-text">Components</a></li>
            <li><a href="collapsible.html" class="grey-text">Javascript</a></li>
            <li><a href="mobile.html" class="grey-text">Mobile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
    </div>
</nav>
