<div>
    <div class="navbar headerfix white">
        <nav class="white boxsdn">
            <div class="nav-wrapper">
                <div class="row mgbn">
                    <div class="col no-padding">
                        <a href="#" data-activates="slide-out" class="button-collapse show-on-large grey-text left">
                            <i class="material-icons">menu</i></a>
                        <a href="#/home" class="rooflogo left"><img src="images/general/logoicon.png" "> </a>
                    </div>
                    <ul class="right">
                        <li>
                            <a href="#/customerleads" class="btnhd mgln hdagnicon"> <i class="material-icons xsmgt5">person</i> <span class="hide-on-small-only">Customer Leads</span></a>
                        </li>
                         <li>
                            <a href="#/owner-details" class="btnhd mgln hdagnicon"><i class="material-icons xsmgt5">vpn_key</i><span class="hide-on-small-only">Owner Leads</span></a>
                        </li>
                        <li class="btnhd_prof">
                            <a href="" class="btnhd">
                                <img class="display-img left" src="images/general/noImage.png"> <span class="hide-on-small-only">Digamber Sharma</span>
                            </a>
                             <ul style="width: 170px">
                                <li> <a href="#/profile-manage"><i class="material-icons left grey-text">edit</i> Manage Profile</a> </li>
                                <li> <a href="#/sub-user"><i class="material-icons left grey-text">person</i> Sub Users</a> </li>
                                <li>
                                    <a href="">
                                        <i class="material-icons left grey-text">power_settings_new</i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="slide-out" class="side-nav over_hidden">
        <div class="row mgan">
            <a href="#/home" class="sld_logo mgt10 pdl30"><img src="images/general/logo.png"></a>
        </div>
        <div class="row over_auto mgbn mgt30">
            <ul>
                <li><a href="#/registration" class="">Registration</a></li>                
                <li><a href="#/payments">Account Balance</a></li>
                <li><a href="#/profile-manage">Closure Status/Leads</a></li>
                
            </ul>
        </div>
        <div class="navfooter wd100 grey lighten-4 pdt10">
            <div class="row mgbn">
                <div class="col left pdt10 left-align">
                    <h6 class="grey-text mgtn">Follow us</h6>
                </div>
                <div class="col right right-align">
                    <a class="right" href="https://www.facebook.com/roofpik" target="_blank">
                        <img src="images/general/facebook.png">
                    </a>
                    <a class="right" href="https://www.linkedin.com/company/roofpik?trk=job_view_topcard_company_name" target="_blank">
                        <img src="images/general/linked-in.png">
                    </a>
                    <a class="right" href="https://www.twitter.com/roofpik" target="_blank">
                        <img src="images/general/twitter.png">
                    </a>
                    <a class="right" href="https://www.instagram.com/roofpik1/" target="_blank">
                        <img src="images/general/insta.png">
                    </a>
                </div>
            </div>
            <div class="footer-copyright center pdt10 pdb10 grey lighten-3">
                <div class="ft12 grey-text">
                    © AlphaBinary Technologies Pvt Ltd
                </div>
            </div>
        </div>
    </div>
</div>
