<section class="mgt65">
    <div class="row mgan">
        <div class="col s12 m12 l8 offset-l2">
            <h4 class="orange-text">Registration</h4>
            <p>We are there for you! all you need to do is share your number and our respresentative will get in touch with you within 12 hours</p>
            <form name="contactUs">
                <div class="row mgbn">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
                        <input id="select_project" type="text" class="mgb10 validate" required>
                        <label for="select_project">Your Name</label>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">email</i>
                        <input id="select_project" type="text" class="mgb10 validate" required>
                        <label for="select_project">Email</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">phone</i>
                        <input id="select_project" type="text" class="mgb10 validate" required>
                        <label for="select_project">phone</label>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">phone</i>
                        <input id="select_project" type="text" class="mgb10 validate" required>
                        <label for="select_project">Company Name</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">language</i>
                        <input id="select_project" type="text" class="mgb10 validate" required>
                        <label for="select_project">Website</label>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">location_on</i>
                        <textarea id="textarea1" class="materialize-textarea mgb10" required></textarea>
                        <label for="textarea1">Address</label>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">location_city</i>
                        <input id="select_project" type="text" class="mgb10 validate" required>
                        <label for="select_project">Location</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">business</i>
                        <input id="select_project" type="text" class="mgb10 validate" required>
                        <label for="select_project">Projects</label>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">phone</i>
                        <input id="lorem1" type="text" class="mgb10 validate" required>
                        <label for="lorem1">lorem ipsum</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">phone</i>
                        <input id="lorem2" type="text" class="mgb10 validate" required>
                        <label for="lorem2">lorem ipsum</label>
                    </div>
                </div>
                <div class="row mgbn">
                    <div class="file-field col s12 input-field">
                        <div class="btn">
                            <span>Image Upload</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <button class="btn  pdl30 pdr30 btn-primary right b">  <i class="material-icons left">save</i> Save</button>
                </div>
            </form>
        </div>
    </div>
</section>
