<section class="section">
    <div class="container">
        <div class="row pd48">
            <div class="col s12 m6 offset-m3">
                <div class="row mgan">
                    <div class="col s12 pdl30">
                        <h5 class="orange-text">Fill in the Details</h5>
                        <form name="contactUs">
                            <div class="row mgbn">
                                <div class="input-field col s12">                                    
                                    <input type="text" id="autocomplete-input" class="autocomplete">
                                    <label for="autocomplete-input">Autocomplete</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <input id="select_project" type="text" class="validate" required>
                                    <label for="select_project">Your Name</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <input id="select_project" type="text" class="validate" required>
                                    <label for="select_project">Amount</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <input id="select_project" type="text" class="validate" required>
                                    <label for="select_project">Bonus Amount</label>
                                </div>
                            </div>
                            <div class="row mgbn">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea" required></textarea>
                                    <label for="textarea1">Type your Message</label>
                                </div>
                            </div>
                            <div class="col s12">
                                <button class="btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $('input.autocomplete').autocomplete({
    data: {
      "Apple": null,
      "Microsoft": null,
      "Google": 'http://placehold.it/250x250'
    },
    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
    onAutocomplete: function(val) {
      // Callback function when value is autcompleted.
    },
    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
  });
    });
    </script>
</section>
