<div>
    <style>
    td {
        padding-left: 15px;
        padding-right: 15px;
    }
    </style>
    <table style="width: 600px; margin:30px auto; border:1px solid #eee;">
        <tbody>
            <tr>
                <td colspan="2"><b>Roofpik</b></td>
            </tr>
            <tr>
                <td style="padding-top: 0px; font-size: 13px;">91Springboard, Plot No 23,
                    <br> Sector 18, Gurgaon, Haryana India</td>
                <td style="text-align: right; padding-top: 0px;"><img src="http://www.roofpik.com/images/general/logo.png" width="100"></td>
            </tr>
            <tr>
                <td style="color: #e53935; font-size: 20px"><b>Invoice Number</b></td>
                <td style="color: #e53935; font-size: 20px"><b>0690</b></td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 2px solid #e53935; padding: 0px;"></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 0px;">
                    <table>
                        <tr>
                            <td style="color:#e53935"><b>Bill To</b></td>
                            <td style="color:#e53935"><b>Ship To</b></td>
                            <td style="color:#e53935"><b>Invoice Date</b></td>
                            <td>28/04/2017</td>
                        </tr>
                        <tr>
                            <td>Digamber Sharma</td>
                            <td>Digamber Sharma</td>
                            <td style="color:#e53935"><b>Due Date</b></td>
                            <td>13/05/2017</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 0px;">
                    <table style="border:1px solid #eee; margin:30px 0px;">
                        <tr>
                            <td style="color:#fff; background-color: #e53935; width: 10%; border-right: 1px solid #ddd;"><b>Qty</b></td>
                            <td style="color:#fff; background-color: #e53935; width: 50%; border-right: 1px solid #ddd;"><b>Description</b></td>
                            <td style="color:#fff; background-color: #e53935; width: 20%; border-right: 1px solid #ddd;"><b>Unit Price</b></td>
                            <td style="color:#fff; background-color: #e53935; width: 20%"><b>Amount</b></td>
                        </tr>
                        <tr>
                            <td style="border-right: 1px solid #ddd;">1</td>
                            <td style="border-right: 1px solid #ddd;">Digamber Sharma</td>
                            <td style="text-align: right;border-right: 1px solid #ddd;"><b>0.00</b></td>
                            <td style="text-align: right"><b>0.00</b></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">Sub Total</td>
                <td style="text-align: right;">₹ 0.00</td>
            </tr>
            <tr>
                <td style="text-align: right;">Discount 0%</td>
                <td style="text-align: right;">₹ 0.00</td>
            </tr>
            <tr>
                <td style="text-align: right; font-size: 20px;"><b>Total</b></td>
                <td style="text-align: right; font-size: 20px;"><b>₹ 0.00</b></td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 2px solid #e53935; padding-top:100px"></td>
            </tr>
            <tr>
                <td colspan="2" style="color: #e53935"><b>Terms & Conditions</b></td>
            </tr>
            <tr>
                <td colspan="2">Payment is due within 15 days</td>
            </tr>
           
        </tbody>
    </table>
</div>
